* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Lato', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
#panel {
	display: block;
	float: left;
	height: 100vh;
	width: 25%;
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
}
#person_container {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	background-color: #546E7A;
}
#person_name {
	position: absolute;
	top: 0px;
	display: 0;
	width: 100%;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	color: white;
	font-size: 40px;
	background-color: #01579B;
}
#search_bar {
	position: absolute;
	bottom: 0;
	display: block;
	height: 50px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	overflow: auto;
	/* Disable text selection*/
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	z-index: 100500;
}
#search_bar input {
	float: left;
	width: 85%;
	height: 100%;
	outline: none;
	font-size: 120%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	-webkit-box-shadow: -5px 0px 43px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: -5px 0px 43px -10px rgba(0,0,0,0.75);
	box-shadow: -5px 0px 43px -10px rgba(0,0,0,0.75);
	position: absolute;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
#send_button {
	width: 15%;
	height: 50px;
	float: right;
	background-color: rgba(255, 255, 255, 0.5);
}
#send_button:hover {
	background-color: rgba(255, 255, 255, 0.35);
}
#send_button:active {
	background-color: rgba(255, 255, 255, 0.20);
}
#graph_container {
	display: block;
	position: fixed;
	right: 0px;
	height: 100vh;
	width: 75%;
	background-color: #263238;
}