* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Lato', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	pointer-events: none;
}
#panel {
	display: block;
	float: left;
	height: 100vh;
	width: 25%;
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	overflow: hidden;
}
#person_container {
	position: relative;
	display: block;
	height: calc(100% - 50px - 80px);
	width: 100%;
	background-color: #546E7A;
	overflow-y: auto;
	z-index: 100499;
	overflow-x: hidden;
}
#person_name {
	display: block;
	top: 0px;
	width: 100%;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	color: white;
	font-size: 40px;
	background-color: #01579B;
	overflow: auto;
}
#sentiment_index_text {
	display: block;
	padding-top: 15px;
	width: 100%;
	height: 15px;
	text-align: center;
	vertical-align: middle;
	line-height: 15px;
	color: white;
	font-size: 15px;
}
#sentiment_minus_1 {
	position: absolute;
	left: 2vw;
	color: white;
	margin-top: 27px;
}
#sentiment_plus_1 {
	position: absolute;
	right: 2vw;
	color: white;
	margin-top: 27px;
}
#twitter_pic {
	height: 40px;
	display: inline-block;
	padding-bottom: 20px;
}
#person_sentiment_index {
	display: block;
	height: 100px;
}
#sentiment_slider {
	height: 70px;
	width: 100%;
}
#person_headlines {
	display: inline-block;
    display: -moz-inline-box;
	max-height: 200px;
	overflow-x: auto;
	width: 100%;
	overflow-y: hidden;
}
.headline {
	display: inline-block;
	height: 200px;
	width: 150px;
	background-color: rgba(255, 255, 255, 0.05);
	margin-top: 5px;
	margin-left: 5px;
}
.headline:hover {
	background-color: rgba(255, 255, 255, 0.1);
	cursor: pointer;
}
.headline:active {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}
.headline img {
	display: block;
	width: 80px;
	margin-left: 35px;
	margin-top: 15px; 
	border-radius: 15px;
}
.headline p {
	padding-top: 5px;
	color: white;
	text-align: center;
	vertical-align: middle;
}
#person_tweets {
	display: block;
	height: 300px;
}
#search_bar {
	position: absolute;
	bottom: 0;
	display: block;
	height: 50px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	overflow: auto;
	/* Disable text selection*/
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	z-index: 100500;
}
#search_bar input {
	float: left;
	width: 85%;
	height: 100%;
	outline: none;
	font-size: 120%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	-webkit-box-shadow: -5px 0px 43px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: -5px 0px 43px -10px rgba(0,0,0,0.75);
	box-shadow: -5px 0px 43px -10px rgba(0,0,0,0.75);
	position: absolute;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
#send_button {
	width: 15%;
	height: 50px;
	float: right;
	background-color: rgba(255, 255, 255, 0.5);
}
#send_button:hover {
	background-color: rgba(255, 255, 255, 0.35);
	cursor: pointer;
}
#send_button:active {
	background-color: rgba(255, 255, 255, 0.20);
	cursor: pointer;
}
#graph_container {
	display: block;
	position: fixed;
	right: 0px;
	height: 100vh;
	width: 75%;
	background-color: #263238;
}